@import "tailwindcss";
@font-face {
  font-family: "Rosca";
  src: url("./assets/fonts/rosca.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-rosca {
    font-family: "Rosca", sans-serif;
}

@keyframes fadeIn {
    from{
        opacity: 0%;
    }to{
        opacity: 100%;
    }
}

.animate-fade-in{
    animation: fadeIn 0.5s ease-out forwards;
}

html, body{
    padding: 0;
    margin: 0;
}